n8n-workflows/scrape-and-extract.json
{
  "name": "Scrape & Extract (Async Queue - Multi-Tenant)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "scrape-start"
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook (Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"{{ $json.url }}\",\n  \"webhookUrl\": \"{{ $env.N8N_WEBHOOK_URL }}webhook/scrape-result\"\n}",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.apiKey }}"
            }
          ]
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Queue Scrape Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpRequest": {
          "url": "http://crawlee-api:3001/api/scrape"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "scrape-result"
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Webhook (Result)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => ({\n  json: {\n    userId: item.json.userId,\n    url: item.json.url,\n    title: item.json.title,\n    markdown: item.json.markdown,\n    summary: item.json.markdown\n      ? item.json.markdown.slice(0, 500) + '...'\n      : '',\n    wordCount: item.json.markdown\n      ? item.json.markdown.split(/\\s+/).length\n      : 0,\n    processedAt: new Date().toISOString()\n  }\n}));"
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "AI Extract (Mock)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "table": {
            "value": "scraped_pages",
            "__rl": true
          }
        },
        "options": {
          "conflictType": "upsert",
          "conflictFields": ["url", "user_id"]
        },
        "columns": {
          "mappings": {
            "user_id": {
              "value": "={{ $json.userId }}"
            },
            "url": {
              "value": "={{ $json.url }}"
            },
            "title": {
              "value": "={{ $json.title }}"
            },
            "markdown": {
              "value": "={{ $json.markdown }}"
            },
            "summary": {
              "value": "={{ $json.summary }}"
            },
            "word_count": {
              "value": "={{ $json.wordCount }}"
            },
            "processed_at": {
              "value": "={{ $json.processedAt }}"
            }
          }
        }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Store in PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "sql": "CREATE TABLE IF NOT EXISTS api_keys (\n  id SERIAL PRIMARY KEY,\n  key_value TEXT UNIQUE NOT NULL,\n  user_id TEXT NOT NULL,\n  name TEXT NOT NULL DEFAULT '',\n  is_active BOOLEAN NOT NULL DEFAULT true,\n  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE TABLE IF NOT EXISTS scraped_pages (\n  id SERIAL PRIMARY KEY,\n  user_id TEXT NOT NULL,\n  url TEXT NOT NULL,\n  title TEXT,\n  markdown TEXT,\n  raw_html TEXT,\n  summary TEXT,\n  word_count INTEGER,\n  processed_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX IF NOT EXISTS idx_scraped_pages_user_id ON scraped_pages(user_id);\nCREATE INDEX IF NOT EXISTS idx_scraped_pages_url ON scraped_pages(url);\n\nCREATE EXTENSION IF NOT EXISTS vector;"
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Initialize DB Schema",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [1100, 550]
    }
  ],
  "connections": {
    "Webhook (Trigger)": {
      "main": [
        [
          {
            "node": "Queue Scrape Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Result)": {
      "main": [
        [
          {
            "node": "AI Extract (Mock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract (Mock)": {
      "main": [
        [
          {
            "node": "Store in PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "cccccccc-cccc-cccc-cccc-cccccccccccc",
  "active": false,
  "settings": {},
  "tags": [],
  "id": "88888888-8888-8888-8888-888888888888",
  "createdAt": "2026-06-17T14:30:00.000Z",
  "updatedAt": "2026-06-17T14:30:00.000Z"
}
